<!DOCTYPE html>
<html>
  <head>
    <title>OnePush</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'http://fonts.googleapis.com/icon?family=Material+Icons'%>
	  <%= stylesheet_link_tag    'materialize.css'%>
    <%= stylesheet_link_tag    'home.css'%>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:400,400italic,100,100italic,300,300italic,500,500italic,700,700italic,900,900italic', media: 'all'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js' %>
	<%= javascript_include_tag 'materialize.js'%>
  <%= javascript_include_tag 'home.js'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
